.transaction-card {

  background:
    linear-gradient(145deg,
      #0b1220,
      #0b1220);

  border:

    1px solid rgba(255, 255, 255, 0.08);

  border-radius: 24px;

  padding: 25px;

  border-color: #00e5ff;
  box-shadow:

    0 15px 35px rgba(0, 0, 0, .35);

}


.Transaction-card:hover {

  transform: translateY(-5px);

  border-color: #00e5ff;
  box-shadow:

    0 0 35px rgba(0, 229, 255, .12);

}


.table-header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 25px;

}



.table-header h2 {

  color: white;

  margin: 0;

  font-size: 22px;

}



.table-header p {

  color: #94a3b8;

  font-size: 13px;

  margin-top: 6px;

}



.table-header button {

  background:

    linear-gradient(135deg,
      #00e5ff,
      #2563eb);

  border: none;

  color: white;

  padding: 10px 20px;

  border-radius: 12px;

  cursor: pointer;

  font-weight: 600;

  transition: .3s;

}



.table-header button:hover {

  transform: translateY(-3px);

  box-shadow:

    0 0 20px rgba(0, 229, 255, .3);

}




table {

  width: 100%;

  border-collapse: collapse;

}



th {

  text-align: left;

  padding: 15px;

  color: #94a3b8;

  font-size: 13px;

  border-bottom:

    1px solid rgba(255, 255, 255, .08);

}



td {

  padding: 16px 15px;

  color: #e2e8f0;

  border-bottom:

    1px solid rgba(255, 255, 255, .05);

  font-size: 14px;

}



tbody tr {

  transition: .3s;

}



tbody tr:hover {

  background:

    rgba(0, 229, 255, .05);

}



.type {

  display: flex;

  align-items: center;

  gap: 10px;

}



.deposit {

  color: #22c55e;

}



.withdraw {

  color: #ef4444;

}



.transfer {

  color: #8b5cf6;

}

.completed {

  padding: 6px 14px;

  border-radius: 20px;

  font-size: 12px;

  font-weight: 600;

  color: #22c55e;

  background:

    rgba(34, 197, 94, .12);

}



.pending {

  padding: 6px 14px;

  border-radius: 20px;

  font-size: 12px;

  font-weight: 600;

  color: #facc15;

  background:

    rgba(250, 204, 21, .12);

}